<template>
    <app-layout>
        <Rater :text="text" :classifications="classifications" />
    </app-layout>
</template>

<script>
import AppLayout from './../Layouts/AppLayout'
import Rater from '../components/Rater'

export default {
    name: 'Index',
    components: {
        AppLayout,
        Rater,
    },
    props: {
        text: {
            type: Object,
            required: true,
        },
        classifications: {
            type: Array,
            default: () => [],
        },
    },
}
</script>
