<template>
    <app-layout>
        <transition appear-active-class="animated fadeIn" appear>
            <t-card class="mt-8 relative p-8 w-4/5 clearfix">
                <template #header>
                    <h1 class="font-bold text-2xl">{{page.title}}</h1>
                </template>
                <div v-html="page.content" />
            </t-card>
        </transition>
    </app-layout>
</template>

<script>
import AppLayout from '../Layouts/AppLayout'

export default {
    name: 'StaticPage',
    components: { AppLayout },
    props: {
        page: {
            type: Object,
            required: true,
        },
    },
}
</script>

<style scoped></style>
