<template>
    <div class="flex-col flex-wrap md:flex-row flex justify-around mt-8">
        <t-button
            key="hate"
            type="button"
            variant="error"
            class="w-100 md:w-2/5 text-xl items-center justify-center md:py-6 md:px-4"
            @click.native="$emit('open-modal')"
            >Hate</t-button
        >

        <t-button
            key="not-hate"
            type="submit"
            class="w-100 md:w-2/5 mt-4 md:mt-0 text-xl items-center justify-center md:py-6 md:px-4"
            >Not hate</t-button
        >

        <t-button
            key="incomprehensible"
            type="button"
            variant="link"
            class="w-100 md:w-2/5 mt-4 items-center justify-center md:py-6 md:px-4 text-lg"
            @click.native="$emit('mark-incomprehensible')"
            >The text is incomprehensible</t-button
        >
    </div>
</template>

<script>
export default {
    name: 'HateOrNotButtonSet',
}
</script>

<style scoped></style>
