<template>
    <div class="pt-4 flex flex-col items-center">
        <p class="w-full mb-8 text-center">
            Please highlight any relevant text. You can add as many highlights as you want.
        </p>

        <t-button
            key="submit"
            class="w-full block md:w-2/5 text-xl items-center justify-center md:py-6 md:px-4 mb-8"
            type="submit"
            variant="success"
            >{{ buttonText }}</t-button
        >
        <t-button key="cancel-selections" type="button" variant="link" @click="$emit('cancel')"
            >Cancel</t-button
        >
    </div>
</template>

<script>
export default {
    name: 'HateOrNotTextSelection',

    props: {
        haveHighlights: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        buttonText() {
            return this.haveHighlights ? 'Done' : "It's all relevant"
        },
    },
}
</script>

<style scoped></style>
