<template>
    <div class="max-w-10/12 md:max-w-8/12 mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex">
                <!-- Logo -->
                <div class="flex-shrink-0 flex items-center">
                    <jet-application-mark class="block h-9 w-auto" />
                </div>

                <!-- Navigation Links -->
                <div v-if="$page.user" class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                    <jet-nav-link :href="route('home')" :active="$page.currentRouteName === 'home'">
                        Rate the hate!
                    </jet-nav-link>
                </div>
                <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                    <jet-nav-link
                        :href="route('page', { page: 'about' })"
                        :active="$page.currentRouteName === 'about'"
                    >
                        About
                    </jet-nav-link>
                </div>
                <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                    <jet-nav-link
                        :href="route('page', { page: 'contact' })"
                        :active="$page.currentRouteName === 'about'"
                    >
                        Contact
                    </jet-nav-link>
                </div>
            </div>

            <!-- Settings Dropdown -->
            <settings-menu />
        </div>
    </div>
</template>

<script>
import JetApplicationMark from './../../Jetstream/ApplicationMark'
import JetNavLink from './../../Jetstream/NavLink'
import SettingsMenu from './SettingsMenu'

export default {
    name: 'PrimaryNav',
    components: {
        JetApplicationMark,
        JetNavLink,
        SettingsMenu,
    },
    props: {},
}
</script>

<style scoped></style>
