<template>
    <div
        class="flex items-start justify-between transform top-0 right-0 w-auto min-w-6/12 fixed h-full overflow-visible ease-in-out transition-all duration-300 z-30"
        :class="show ? 'translate-x-0' : 'translate-x-full'"
    >
        <hamburger
            :value="show"
            class="transform -translate-x-full absolute left-0 top-2"
            @click="$emit('toggle-show')"
        />
        <nav class="bg-white min-h-full w-full shadow-xl text-right">
            <!-- Responsive Settings Options -->
            <div class="pt-4 pb-1 border-t border-gray-200">
                <div v-if="$page.user">
                    <div class="flex items-center px-4">
                        <div class="flex-shrink-0">
                            <img
                                class="h-10 w-10 rounded-full"
                                :src="$page.user.profile_photo_url"
                                :alt="$page.user.name"
                            />
                        </div>

                        <a :href="route('profile.show')" class="ml-3 block">
                            <div class="font-medium text-base text-gray-800">
                                {{ $page.user.name }}
                            </div>
                            <div class="font-medium text-sm text-gray-500">
                                {{ $page.user.email }}
                            </div>
                        </a>
                    </div>

                    <div class="mt-3 space-y-1">
                        <!-- Authentication -->
                        <form method="POST" @submit.prevent="logout">
                            <jet-responsive-nav-link as="button"> Logout </jet-responsive-nav-link>
                        </form>
                    </div>
                </div>
                <div>
                    <jet-responsive-nav-link
                        :href="route('login').url()"
                        :active="$page.currentRouteName === 'login'"
                        >Login</jet-responsive-nav-link
                    >
                    <jet-responsive-nav-link
                        :href="route('register').url()"
                        :active="$page.currentRouteName === 'register'"
                        >Register</jet-responsive-nav-link
                    >
                </div>
            </div>

            <div class="pt-2 pb-3 space-y-1">
                <jet-responsive-nav-link
                    v-if="$page.user"
                    :href="route('home')"
                    :active="$page.currentRouteName === 'home'"
                >
                    Rate the hate
                </jet-responsive-nav-link>
                <jet-responsive-nav-link
                    :href="
                        route('page', {
                            page: 'about',
                        })
                    "
                    :active="$page.currentRouteName === 'about'"
                >
                    About
                </jet-responsive-nav-link>
                <jet-responsive-nav-link
                    :href="
                        route('page', {
                            page: 'contact',
                        })
                    "
                    :active="$page.currentRouteName === 'contact'"
                >
                    Contact
                </jet-responsive-nav-link>
            </div>
        </nav>
    </div>
</template>

<script>
import JetResponsiveNavLink from './../../Jetstream/ResponsiveNavLink'
import Hamburger from './Hamburger'

export default {
    name: 'ResponsiveNav',
    components: {
        Hamburger,
        JetResponsiveNavLink,
    },

    props: {
        show: {
            type: Boolean,
            default: false,
        },
    },
}
</script>

<style scoped></style>
