<template>
    <app-layout>
        <loading :active="isLoading" />
        <form @submit.prevent="handleSubmit">
            <t-card :class="'mt-4 max-w-10/12 md:max-w-8/12'">
                <template #header>
                    <h2 class="font-bold text-xl">Login</h2>
                </template>

                <ErrorBox :errors="formErrors.generic" class="mb-4" />

                <fieldset>
                    <t-input-group
                        label="Email"
                        :variant="formVariants.email"
                        :feedback="formErrors.email"
                    >
                        <t-input
                            v-model="form.email"
                            type="email"
                            :variant="formVariants.email"
                            required
                        />
                    </t-input-group>
                    <t-input-group
                        label="Password"
                        :variant="formVariants.password"
                        :feedback="formErrors.password"
                    >
                        <t-input
                            v-model="form.password"
                            type="password"
                            :variant="formVariants.password"
                            required
                        />
                    </t-input-group>
                    <t-checkbox
                        v-model="form.remember"
                        label="Remember me"
                        :classes="{ input: 'mr-2' }"
                        wrapped
                    />
                </fieldset>

                <template #footer>
                    <div class="text-right">
                        <inertia-link
                            class="underline text-sm text-gray-600 hover:text-gray-900"
                            :href="route('register').url()"
                            >Register</inertia-link
                        >

                        <inertia-link
                            class="underline text-sm text-gray-600 hover:text-gray-900 ml-4"
                            :href="route('password.request').url()"
                            >Forgot your password?</inertia-link
                        >
                        <t-button class="ml-4" type="submit">Login</t-button>
                    </div>
                </template>
            </t-card>
        </form>
    </app-layout>
</template>

<script>
/* global route */
import AppLayout from './../../Layouts/AppLayout'
import ErrorBox from '../../components/ErrorBox'
import { getFormErrors, getFormVariants } from '../../helpers'

export default {
    name: 'AuthLogin',
    components: {
        ErrorBox,
        AppLayout,
    },
    props: {
        errors: {
            type: Object,
            default: () => {},
        },
    },
    data() {
        return {
            dataErrors: () => {},
            demographicModalOpen: false,
            form: {
                email: null,
                password: null,
                remember: null,
            },
            isLoading: false,
        }
    },
    computed: {
        formErrors() {
            return getFormErrors({ ...this.dataErrors, ...this.errors }, Object.keys(this.form))
        },
        formVariants() {
            return getFormVariants(Object.keys(this.form), this.formErrors)
        },
    },
    methods: {
        async handleSubmit() {
            this.isLoading = true
            try {
                await this.$inertia.post(route('login'), this.form)
            } catch (e) {
                this.dataErrors = { ...this.dataErrors, ...{ server: e.message } }
            } finally {
                this.isLoading = false
            }
        },
    },
}
</script>
