<template>
    <app-layout>
        <loading :active="isLoading" />
        <form @submit.prevent="handleSubmit">
            <t-card :class="'mt-4 max-w-10/12 md:max-w-8/12'">
                <template #header>
                    <h2 class="font-bold text-xl">Register</h2>
                </template>

                <ErrorBox :errors="formErrors.generic" class="mb-4" />

                <fieldset>
                    <legend class="w-full mb-2 pb-2 font-bold text-lg border-b border-gray-300">
                        Account info
                    </legend>
                    <t-input-group
                        label="Name"
                        :variant="formVariants.name"
                        :feedback="formErrors.name"
                    >
                        <t-input
                            v-model="form.name"
                            type="text"
                            :variant="formVariants.name"
                            required
                        />
                    </t-input-group>
                    <t-input-group
                        label="Email"
                        :variant="formVariants.email"
                        :feedback="formErrors.email"
                    >
                        <t-input
                            v-model="form.email"
                            type="email"
                            :variant="formVariants.email"
                            required
                        />
                    </t-input-group>
                    <t-input-group
                        label="Password"
                        :variant="formVariants.password"
                        :feedback="formErrors.password"
                    >
                        <t-input
                            v-model="form.password"
                            type="password"
                            :variant="formVariants.password"
                            required
                        />
                    </t-input-group>
                    <t-input-group label="Confirm password" :variant="formVariants.password">
                        <t-input
                            v-model="form.password_confirmation"
                            type="password"
                            :variant="formVariants.password"
                            required
                        />
                    </t-input-group>
                </fieldset>

                <fieldset>
                    <legend class="w-full mb-2 pb-2 font-bold text-lg border-b border-gray-300">
                        About you
                    </legend>
                    <t-input-group
                        v-for="type in demographics"
                        :key="type.id"
                        :variant="formVariants.demographics[type['slug']]"
                        :feedback="formErrors.demographics[type['slug']]"
                        :label="type.name"
                    >
                        <OtherAwareSelect
                            v-model="form.demographics[type['slug']]"
                            :variant="formVariants.demographics[type['slug']]"
                            :placeholder="`Select ${type.name}`"
                            :options="type.demographics"
                            value-attribute="slug"
                            text-attribute="name"
                        />
                    </t-input-group>
                    <p class="text-right">
                        <t-button type="button" variant="link" @click="demographicModalOpen = true"
                            >Why do we need this information
                            <font-awesome-icon class="ml-2" icon="question-circle" />
                        </t-button>
                    </p>
                    <DemographicQueryModal
                        :open="demographicModalOpen"
                        @click.native="demographicModalOpen = false"
                    />
                </fieldset>

                <template #footer>
                    <div class="text-right">
                        <inertia-link
                            class="underline text-sm text-gray-600 hover:text-gray-900 mr-4"
                            :href="route('login').url()"
                            >Login</inertia-link
                        >

                        <t-button type="submit">Register</t-button>
                    </div>
                </template>
            </t-card>
        </form>
    </app-layout>
</template>

<script>
/* global route */
import AppLayout from '../../Layouts/AppLayout'
import ErrorBox from '../../components/ErrorBox'
import DemographicQueryModal from '../../components/DemographicQueryModal'
import OtherAwareSelect from '../../components/OtherAwareSelect'
import { getFormErrors, getFormVariants } from '../../helpers'

export default {
    name: 'AuthRegister',
    components: {
        OtherAwareSelect,
        DemographicQueryModal,
        ErrorBox,
        AppLayout,
    },
    props: {
        demographics: {
            type: Array,
            default: () => [],
        },
        errors: {
            type: Object,
            default: () => {},
        },
    },
    data() {
        return {
            dataErrors: () => {},
            demographicModalOpen: false,
            form: {
                name: null,
                email: null,
                password: null,
                password_confirmation: null,
                demographics: {},
            },
            isLoading: false,
        }
    },
    computed: {
        formErrors() {
            const formErrors = getFormErrors(
                { ...this.dataErrors, ...this.errors },
                Object.keys(this.form),
                ['demographics']
            )
            if (Array.isArray(formErrors.demographics)) {
                formErrors.demographics = JSON.parse(formErrors.demographics[0] || '{}')
            }
            formErrors.demographics = formErrors.demographics || {}

            return formErrors
        },
        formVariants() {
            const formVariants = getFormVariants(Object.keys(this.form), this.formErrors)
            const demographicSlugs = Object.values(this.demographics).map(
                (demographicType) => demographicType['slug']
            )
            formVariants.demographics = getFormVariants(
                demographicSlugs,
                this.formErrors.demographics || {}
            )

            return formVariants
        },
    },
    methods: {
        async handleSubmit() {
            this.isLoading = true
            try {
                await this.$inertia.post(route('register'), this.form)
            } catch (e) {
                this.dataErrors = { ...this.dataErrors, ...{ server: e.message } }
            } finally {
                this.isLoading = false
            }
        },
    },
}
</script>
