<template>
    <app-layout :flash="status">
        <loading :active="isLoading" />
        <form @submit.prevent="handleSubmit">
            <t-card :class="'mt-4 max-w-10/12 md:max-w-8/12'">
                <template #header>
                    <h2 class="font-bold text-xl">Forgot Password</h2>
                </template>

                <t-alert v-if="$page.sess" />

                <ErrorBox :errors="formErrors.generic" class="mb-4" />

                <fieldset>
                    <t-input-group
                        label="Email"
                        :variant="formVariants.email"
                        :feedback="formErrors.email"
                    >
                        <t-input
                            :value="$props.email"
                            type="email"
                            :variant="formVariants.email"
                            :readonly="true"
                            required
                        />
                    </t-input-group>
                    <t-input-group
                        label="Password"
                        :variant="formVariants.password"
                        :feedback="formErrors.password"
                    >
                        <t-input
                            v-model="form.password"
                            type="password"
                            :variant="formVariants.password"
                            required
                        />
                    </t-input-group>
                    <t-input-group label="Confirm password" :variant="formVariants.password">
                        <t-input
                            v-model="form.password_confirmation"
                            type="password"
                            :variant="formVariants.password"
                            required
                        />
                    </t-input-group>
                </fieldset>

                <template #footer>
                    <div class="text-right">
                        <inertia-link
                            class="underline text-sm text-gray-600 hover:text-gray-900"
                            :href="route('register').url()"
                            >Register</inertia-link
                        >

                        <inertia-link
                            class="underline text-sm text-gray-600 hover:text-gray-900 ml-4"
                            :href="route('login').url()"
                            >Login</inertia-link
                        >
                        <t-button class="ml-4" type="submit">Submit</t-button>
                    </div>
                </template>
            </t-card>
        </form>
    </app-layout>
</template>

<script>
/* global route */
import AppLayout from './../../Layouts/AppLayout'
import ErrorBox from '../../components/ErrorBox'
import { getFormErrors, getFormVariants } from '../../helpers'

export default {
    name: 'AuthReset',
    components: {
        ErrorBox,
        AppLayout,
    },
    props: {
        errors: {
            type: Object,
            default: () => {},
        },
        email: {
            type: String,
            required: true,
        },
        token: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            dataErrors: () => {},
            demographicModalOpen: false,
            form: {
                password: null,
                password_confirmation: null,
            },
            isLoading: false,
        }
    },
    computed: {
        formErrors() {
            return getFormErrors({ ...this.dataErrors, ...this.errors }, Object.keys(this.form))
        },
        formVariants() {
            return getFormVariants(Object.keys(this.form), this.formErrors)
        },
    },
    methods: {
        async handleSubmit() {
            this.isLoading = true
            try {
                const { email, token, form } = this
                await this.$inertia.post(route('password.update'), { ...form, email, token })
            } catch (e) {
                this.dataErrors = { ...this.dataErrors, ...{ server: e.message } }
            } finally {
                this.isLoading = false
            }
        },
    },
}
</script>
