<template>
    <app-layout :flash="status">
        <loading :active="isLoading" />
        <form @submit.prevent="handleSubmit">
            <t-card :class="'mt-4 max-w-10/12 md:max-w-6/12 p-4'">
                <template #header>
                    <h2 class="font-bold text-xl">Verify Email</h2>
                </template>

                <ErrorBox :errors="formErrors.generic" class="mb-4" />
                <div class="mb-4 text-sm text-gray-600">
                    <p class="mb-4">
                        Thanks for signing up! Before getting started, could you verify your email
                        address by clicking on the link we just emailed to you?
                    </p>
                    <p>If you didn't receive the email, we will gladly send you another.</p>
                </div>

                <t-alert
                    v-if="status === verification - link - sent"
                    variant="success"
                    class="mb-4"
                >
                    A new verification link has been sent to the email address you provided during
                    registration.
                </t-alert>

                <div class="mt-4 flex items-center justify-between">
                    <form @submit.prevent="requestResend">
                        <div>
                            <t-button type="submit">Resend Verification Email</t-button>
                        </div>
                    </form>
                    <form @submit.prevent="logout">
                        <div>
                            <t-button type="submit" variant="error">Logout</t-button>
                        </div>
                    </form>
                </div>
            </t-card>
        </form>
    </app-layout>
</template>

<script>
/* global route */
import AppLayout from './../../Layouts/AppLayout'
import ErrorBox from '../../components/ErrorBox'
import { getFormErrors, getFormVariants } from '../../helpers'

export default {
    name: 'AuthForgot',
    components: {
        ErrorBox,
        AppLayout,
    },
    props: {
        errors: {
            type: Object,
            default: () => {},
        },
        status: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            dataErrors: () => {},
            demographicModalOpen: false,
            form: {
                email: null,
            },
            isLoading: false,
        }
    },
    computed: {
        formErrors() {
            return getFormErrors({ ...this.dataErrors, ...this.errors }, Object.keys(this.form))
        },
        formVariants() {
            return getFormVariants(Object.keys(this.form), this.formErrors)
        },
    },
    methods: {
        async logout() {
            await this.handleSubmit(async () => {
                await this.$inertia.post(route('logout').url())
            })
        },
        async requestResend() {
            await this.handleSubmit(async () => {
                await this.$inertia.post(route('verification.send').url())
            })
        },
        async handleSubmit(callback) {
            this.isLoading = true
            try {
                await callback()
            } catch (e) {
                this.dataErrors = { ...this.dataErrors, ...{ server: e.message } }
            } finally {
                this.isLoading = false
            }
        },
    },
}
</script>
