<template>
    <div class="min-h-screen bg-brand-500">
        <transition
            enter-active-class="animated fadeInDown"
            leave-active-class="animated fadeOutUp"
        >
            <t-alert :show="!!flash" variant="success" :dismissible="false" :class="'border-l-0'">{{
                flash
            }}</t-alert>
        </transition>
        <nav class="">
            <!-- Primary Navigation Menu -->
            <PrimaryNav />

            <!-- Responsive Navigation Menu -->
            <ResponsiveNav
                :show="showingNavigationDropdown"
                @toggle-show="showingNavigationDropdown = !showingNavigationDropdown"
            />
        </nav>

        <!-- Page Content -->
        <main
            :class="{
                'pointer-events-none': showingNavigationDropdown,
            }"
        >
            <slot> </slot>
        </main>

        <!-- Modal Portal -->
        <portal-target name="modal" multiple> </portal-target>
    </div>
</template>

<script>
import PrimaryNav from '../components/Header/PrimaryNav'
import ResponsiveNav from '../components/Header/ResponsiveNav'

export default {
    components: {
        ResponsiveNav,
        PrimaryNav,
    },

    props: {
        flash: {
            type: String,
            default: null,
        },
    },

    data() {
        return {
            showingNavigationDropdown: false,
        }
    },

    computed: {
        path() {
            return window.location.pathname
        },
    },

    methods: {
        switchToTeam(team) {
            this.$inertia.put(
                route('current-team.update'),
                {
                    team_id: team.id,
                },
                {
                    preserveState: false,
                }
            )
        },
    },
}
</script>
