<template>
    <inertia-link
        :href="href"
        class="inline-flex items-center px-1 pt-1 border-b-2 font-medium leading-5 focus:outline-none transition duration-150 ease-in-out"
        :class="classes"
    >
        <slot></slot>
    </inertia-link>
</template>

<script>
export default {
    props: {
        href: {
            type: String,
            required: true,
        },
        active: {
            type: Boolean,
            active: false,
        },
    },
    computed: {
        classes() {
            return this.active
                ? 'border-info-400 focus:outline-none focus:border-info-700 text-white'
                : 'border-transparent text-gray-300 hover:text-gray-700 hover:border-gray-300 focus:text-gray-700 focus:border-gray-300'
        },
    },
}
</script>
