<template>
    <span>
        <t-button
            type="button"
            class="flex block w-full mb-2 text-xl"
            variant="error"
            @click.native="$emit('change', !checked, name)"
        >
            <!--suppress HtmlFormInputWithoutLabel -->
            <input
                :aria-label="label"
                type="checkbox"
                :name="name"
                :checked="checked"
                class="sr-only"
            />

            <font-awesome-icon :icon="checked ? 'check-circle' : 'circle'" class="mr-4" inverse />
            <span>{{ label }}</span>
            <popper v-if="popperText" trigger="clickToOpen" class="ml-auto">
                <div class="popper">{{ popperText }}</div>

                <button slot="reference" type="button">
                    <font-awesome-icon icon="question-circle" />
                </button>
            </popper>
        </t-button>
    </span>
</template>

import pop

<script>
export default {
    name: 'ButtonCheckbox',
    props: {
        label: {
            type: String,
            required: true,
        },
        name: {
            type: String,
            required: true,
        },
        checked: {
            type: Boolean,
            default: false,
        },
        popperText: {
            type: String,
            default: null,
        },
    },
}
</script>

<style scoped></style>
