<template>
    <ul v-if="items.length" class="list-none flex-col justify-between">
        <li v-for="item in items" :key="item.name">
            <ButtonCheckbox
                :label="item.label"
                :name="`${groupName}[${item.name}]`"
                :checked="item.checked || false"
                popper-text=""
                @change="handleChange"
            ></ButtonCheckbox>
        </li>
        <li>
            <t-input
                v-if="showOther"
                :value="otherValue"
                required
                placeholder="Please specify"
                @input.native="(e) => $emit('other-value', e.target.value)"
            />
        </li>
    </ul>
</template>

<script>
import ButtonCheckbox from './ButtonCheckbox'
export default {
    name: 'ButtonCheckboxGroup',
    components: {
        ButtonCheckbox,
    },
    props: {
        items: {
            type: Array,
            default: () => [],
        },
        groupName: {
            type: String,
            required: true,
        },
        otherValue: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            showOther: false,
        }
    },
    methods: {
        handleChange(value, name) {
            const changed = [...this.items]
            let [, changedName] = name.match(/\[([^]+)]/)

            if (changedName === 'other') {
                this.showOther = !!value
            }

            const ix = changed.findIndex((item) => {
                return String(item.name) === String(changedName)
            })

            changed[ix].checked = value

            this.$emit('change', changed)
        },
    },
}
</script>

<style scoped></style>
