<template>
    <t-modal
        :click-to-close="false"
        :hide-close-button="true"
        :disable-body-scroll="true"
        :value="show"
        class="px-4"
        @close="$emit('close')"
    >
        <div class="p-4 text-xl">
            <p class="mb-4">What kind of hate speech?</p>
            <ButtonCheckboxGroup
                :items="items"
                group-name="classifications"
                :other-value="classificationOther"
                @change="updateItems"
                @other-value="(other) => $emit('other-value', other)"
            />

            <div class="flex justify-end items-end">
                <t-button
                    type="button"
                    :variant="canClose() ? 'success' : null"
                    class="mt-10 text-xl"
                    @click.native="$emit('close')"
                    >{{ canClose() ? 'OK!' : 'Cancel' }}</t-button
                >
            </div>
        </div>
    </t-modal>
</template>

<script>
import ButtonCheckboxGroup from './ButtonCheckboxGroup'

export default {
    name: 'ClassificationSelectorModal',
    components: {
        ButtonCheckboxGroup,
    },
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        classifications: {
            type: Array,
            default: () => [],
        },
        classificationOther: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            items: this.classifications.map((classification) => ({
                label: classification.name,
                name: classification['slug'],
                checked: false,
            })),
        }
    },
    methods: {
        updateItems(items, other) {
            this.items = items
            this.$emit('change', items, other)
        },
        canClose() {
            return (
                this.items.some((item) => item.checked) &&
                (!this.items.find((item) => item.name === 'other').checked ||
                    !!this.classificationOther)
            )
        },
    },
}
</script>

<style scoped></style>
