<template>
    <t-modal :value="open">
        <template #header
            ><div class="font-bold text-lg">Why do we need this information?</div></template
        >
        <p>We need this information because...</p>
        <template #footer>
            <div class="text-right">
                <t-button type="button" v-bind="$listeners">Close</t-button>
            </div>
        </template>
    </t-modal>
</template>

<script>
export default {
    name: 'DemographicQueryModal',
    props: {
        open: {
            type: Boolean,
            required: true,
        },
    },
}
</script>

<style scoped></style>
