<template>
    <t-alert :show="!!errors.length" v-bind="$attrs" :dismissible="dismissible" variant="danger">
        <ul class="list-none">
            <li v-for="error in errors" :key="error">{{ error }}</li>
        </ul>
    </t-alert>
</template>

<script>
export default {
    name: 'ErrorBox',
    props: {
        errors: {
            type: Array,
            default: () => [],
        },
        dismissible: {
            type: Boolean,
            default: false,
        },
    },
}
</script>

<style scoped></style>
