<template>
    <form class="relative" @submit.prevent="submit">
        <ClassificationSelectorModal
            :key="modalKey"
            :show="showModal"
            :classifications="localClassifications"
            :classification-other="classificationOther"
            @close="closeModal"
            @change="setClassificationSlugs"
            @other-value="setClassificationOther"
        />

        <HateOrNotTextSelection
            v-if="isSelectingText"
            :have-highlights="!!highlights.length"
            @cancel="reset"
        />

        <HateOrNotButtonSet
            v-else
            @open-modal="openModal"
            @mark-incomprehensible="markIncomprehensible"
        />

        <ErrorBox :errors="errors" class="mt-4" />
    </form>
</template>

<script>
import axios from 'axios'
import ClassificationSelectorModal from './ClassificationSelectorModal'
import ErrorBox from './ErrorBox'
import HateOrNotTextSelection from './HateOrNot/TextSelection'
import HateOrNotButtonSet from './HateOrNot/ButtonSet'

export default {
    name: 'HateOrNot',
    components: {
        HateOrNotButtonSet,
        HateOrNotTextSelection,
        ErrorBox,
        ClassificationSelectorModal,
    },
    props: {
        initialClassifications: {
            type: Array,
            default: () => [],
        },
        textId: {
            type: Number,
            required: true,
        },
        highlights: {
            type: Array,
            default: null,
        },
        comment: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            classificationSlugs: [],
            classificationOther: '',
            localClassifications: [...this.initialClassifications],
            showModal: false,
            errors: [],
            modalKey: 1,
        }
    },
    computed: {
        form() {
            return {
                classificationSlugs: this.classificationSlugs,
                classificationOther: this.classificationOther,
                highlights: this.highlights,
                textId: this.textId,
                incomprehensible: false,
                comment: this.comment,
            }
        },
        isSelectingText() {
            return !!this.form.classificationSlugs.length
        },
    },
    updated() {
        this.$emit('is-selecting-text', this.isSelectingText)
    },
    methods: {
        async submit() {
            this.$emit('thinking', true)
            this.errors = []
            try {
                await axios.post('/', this.form)
            } catch (e) {
                const errors = []
                if (e.response.data.errors) {
                    Object.values(e.response.data.errors).forEach((errorMessage) =>
                        errors.push(...errorMessage)
                    )
                }

                if (!errors.length) {
                    errors.push(e.message)
                }

                this.errors = errors
            } finally {
                this.$emit('thinking', false)
            }

            if (!this.errors.length) {
                this.$inertia.get('/')
            }
        },
        async markIncomprehensible() {
            this.form.incomprehensible = true

            await this.submit()
        },
        openModal() {
            this.showModal = true
        },
        closeModal() {
            this.showModal = false
        },
        reset() {
            this.$emit('clear-highlights')
            this.setClassificationSlugs([])
            this.modalKey++
        },
        setClassificationSlugs(items) {
            this.classificationSlugs = items
                .map((item) => (item.checked ? item.name : null))
                .filter((value) => !!value)
        },
        setClassificationOther(other) {
            this.classificationOther = other
        },
    },
}
</script>

<style scoped></style>
