<template>
    <div>
        <t-select v-model="selectValue" v-bind="$attrs" v-on="$listeners" @input="emitValue" />
        <t-input
            v-if="isOther"
            v-model="inputValue"
            class="mt-4"
            placeholder="Please specify"
            type="text"
            required
            @input="emitValue"
        />
    </div>
</template>

<script>
export default {
    name: 'OtherAwareSelect',
    props: {
        value: {
            type: String || Number,
            default: null,
        },
    },
    data() {
        return {
            selectValue: null,
            inputValue: '',
        }
    },
    computed: {
        isOther() {
            return this.selectValue === 'other'
        },
    },
    methods: {
        emitValue() {
            setTimeout(() => {
                let value = this.selectValue
                if (this.isOther) {
                    value = `other:${this.inputValue}`
                }

                this.$emit('input', value)
            }, 0)
        },
    },
}
</script>

<style scoped></style>
