<template>
    <transition appear-active-class="animated fadeIn" appear>
        <t-card class="mt-8 relative p-8 w-4/5 clearfix">
            <loading :active="isLoading" :is-full-page="false" />
            <template #header> Please read and rate the following text:</template>
            <transition appear appear-active-class="animated fadeIn">
                <TextSnippet
                    :key="text.id"
                    class="mb-6 text-xl"
                    :text="text['formatted_text']"
                    :highlights="highlights"
                    :is-selecting-text="isSelectingText"
                    :comment="comment"
                    @add-highlight="addHighlight"
                    @comment="setComment"
                />
            </transition>
            <template #footer>
                <HateOrNot
                    :text-id="text.id"
                    :initial-classifications="classifications"
                    :highlights="highlights"
                    :comment="comment"
                    @is-selecting-text="setIsSelectingText"
                    @thinking="setLoading"
                    @clear-highlights="highlights = []"
                />

                <div class="text-right mt-8">
                    <transition name="fade">
                        <t-alert
                            variant="info"
                            :show="showHelp"
                            @hidden="showHelp = false"
                            @shown="showHelp = true"
                        >
                            This is what you should do
                        </t-alert>
                    </transition>
                    <button
                        type="button"
                        class="text-gray-500 hover:text-gray-700 mt-4"
                        @click="showHelp = !showHelp"
                    >
                        What do I do?
                        <font-awesome-icon class="hover:text-black" icon="question-circle" />
                    </button>
                </div>
            </template>
        </t-card>
    </transition>
</template>

<script>
import TextSnippet from './TextSnippet'
import HateOrNot from './HateOrNot'

import rangesMerge from 'ranges-merge'

export default {
    name: 'Rater',
    components: {
        HateOrNot,
        TextSnippet,
    },
    props: {
        text: {
            type: Object,
            required: true,
        },
        classifications: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            highlights: [],
            isLoading: !this.text,
            isSelectingText: false,
            showHelp: false,
            comment: '',
        }
    },
    methods: {
        addHighlight(highlight) {
            const highlights = [...this.highlights]
            highlights.push(highlight)
            this.highlights = rangesMerge(highlights)
        },
        setLoading(loading) {
            this.isLoading = loading
        },
        setIsSelectingText(isSelectingText) {
            this.isSelectingText = isSelectingText
        },
        setComment(comment) {
            this.comment = comment
        },
    },
}
</script>

<style scoped></style>
