<template>
    <div class="flex flex-col items-center">
        <component
            :is="highlightedText"
            ref="textContainer"
            class="mb-4 p-4 md:px-8 w-full text-left"
        />
        <t-button
            v-if="hasSelectedText && isSelectingText"
            class="w-full block md:w-2/5 text-xl items-center justify-center md:py-6 md:px-4 mb-8"
            type="button"
            @click.native="addHighlight"
            >Add Selection</t-button
        >
        <t-textarea
            rows="3"
            :value="comment"
            placeholder="Use this box to add any comments that explain your rating of the text."
            @input="(value) => $emit('comment', value)"
        ></t-textarea>
    </div>
</template>

<script>
import Vue from 'vue'
import Highlight from './Highlight'
import multisplice from 'multisplice'

Vue.component('Highlight', Highlight)

export default {
    name: 'TextSnippet',
    props: {
        text: {
            type: String,
            required: true,
        },
        highlights: {
            type: Array,
            default: () => [],
        },
        isSelectingText: {
            type: Boolean,
            default: false,
        },
        comment: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            hasSelectedText: false,
        }
    },
    computed: {
        highlightedText() {
            const highlights = [...this.highlights]
            highlights.reverse()
            const splice = multisplice(this.text)
            highlights.forEach(([start, end]) => {
                splice.splice(end, end, '</Highlight>')
                splice.splice(start, start, '<Highlight>')
            })

            return {
                components: {
                    Highlight,
                },
                template: `<div>${splice.toString()}</div>`,
            }
        },
    },
    mounted() {
        document.addEventListener('mouseup', this.checkForSelect)
        document.addEventListener('touchend', this.checkForSelect)
    },
    methods: {
        checkForSelect() {
            const { textContainer } = this.$refs
            if (!textContainer) {
                return null
            }
            const { elm } = textContainer.$vnode

            const selection = this.$rangy.getSelection()
            this.hasSelectedText =
                !selection.isCollapsed &&
                elm.contains(selection.anchorNode) &&
                elm.contains(selection.focusNode)
        },
        addHighlight() {
            const selection = this.$rangy.getSelection()

            const selectionString = selection.toString()
            const start = this.text.indexOf(selectionString)
            const end = start + selectionString.length

            this.$emit('add-highlight', [start, end])

            setTimeout(() => {
                this.$rangy.getSelection().collapseToStart()
                this.checkForSelect()
            }, 0)
        },
    },
}
</script>

<style scoped></style>
